body{
    margin: 0;
}
h2 {
    color:brown
}
h1{
    color: rgb(24, 21, 17);
}
h3 {
    color: brown (11, 15, 7);
}
.title-big{
    color: brown;
}
table th{
    color: crimson;
}
h3 ~ p ~ ul{
    color: black;
}
#title-equipe ~ p{
    color: tomato;
}
tr :nth-child(1n){
    background: lightgray
}
.header{
    background:lightslategray;
    padding: 10px 20px;
}
.header_nav{
    margin: 20px 0;
}
.header_nav a{
    padding: 0 195px;
    background: lightgray;
}
.main{
    background: gainsboro;
    padding: 10px 20px;
}
.footer{
    background: lightslategray;
    padding: 10px 20px;
}
