body
{
    margin: 0;
}
.icon
{
    fill: silver;
    cursor: pointer;
}
h2
{
    color:black;
}
h1
{
    color: black;
}
h3 
{
    color: silver;
}
.title-big
{
    color: gold;
}
table th
{
    color: black;
}
h3 ~ p ~ ul
{
    color: black;
}
#title-equipe ~ p
{
    color: black;
}
tr :nth-child(1n)
{
    background: lightgray
}
.header
{
    background-image:url(../images/logo2.jpg);
    width: 97vw;
    height: 24vh;
    padding: 100px 1px;
    margin: 20px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align:center;
}
.header_nav
{
    background-color: white;
    padding: 10px ;
    display: flex;
    justify-content: right;
    align-items: top;
    margin: 20px 0;
    position: relative;
    
}
.header_nav input, .nav_menu{
    display: none;
}
[id^=btn]:checked + ul{
    display: block;
}
.nav_menu{
    position: absolute;
    background-color: silver;
    top: 50px;
    right: 0px;   
}
.nav_item a{
color: white;
text-decoration: none;
line-height: 25px;
font-size: 1.2rem;
}
.nav_menu a:hover{
    font-weight: bold;
}
.main
{
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}




#ajout
{
    padding: 5px;
    border-radius: 5px;
    border: 1px blue;
    background-color: blue;  
    color: white;   
}

.blog-footer{
    color: #727272;
    background: #f9f9f9;
    padding: 2.5rem 0;
    margin: 10px;
    text-align:center;
    border-top: .05rem solid #e5e5e5;
}
#listing{
    width: 95vw;
    height: 100vh;
    border:solid 1px gray;
    border-radius: 20px;
    margin: 0.5%;
    padding: 10px;
}
table{
    width:100%;
}
